<%= form_for @course, html: {class: 'form-horizontal', role: 'form'} do |f| %>
    <%= render 'shared/error_messages', :object => @course %>

    <div class="form-group">
      <%= f.label "课程名", class: 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-arrow-right"></span></div>
          <%= f.text_field :name, class: 'form-control', placeholder: "输入课程名" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "课程属性", class: 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-arrow-right"></span></div>  
		    <%= f.select :course_type, options_for_select(['专业课', '一级学科核心课', '专业核心课', '专业普及课', '公共选修课', '一级学科普及课', '实验课', '一级学科研讨课', '专业研讨课', '公共必修课', '讨论课', '高级强化课', '学科基础课', '专业基础课', '学科综合课', '系列讲座', '其他']), {}, class: 'form-control' %>
		     </div>
      </div>
    </div>
   
    <div class="form-group">
      <%= f.label "授课方式", class: 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-arrow-right"></span></div>
          <span >
          <%= f.select :teaching_type ,options_for_select(['课堂授课', '课堂研讨']), {}, class: 'form-control'  %>
          </span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "考试方式", class: 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-arrow-right"></span></div>
          <%= f.select :exam_type ,options_for_select(['闭卷考试', '开卷考试','课程大作业']), {}, class: 'form-control'  %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "限选人数", class: 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-arrow-right"></span></div>
          <%= f.select :limit_num ,options_for_select(['40', '100','200','350','500']), {}, class: 'form-control'  %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "课时学分", class: 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-arrow-right"></span></div>
          <%= f.select :credit ,options_for_select(['0.5', '1','1.5','2','2.5','3','3.5',]), {}, class: 'form-control'  %>
        </div>
      </div>
    </div>


    <div class="form-group">
      <%= f.label "教室", class: 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-arrow-right"></span></div>
          <%= f.select :class_room ,options_for_select(['教1-002', '教1-005','教1-102','教1-007','教1-009','教1-202','教1-207','教2-002','教2-007','教2-107','教2-202','教2-207',]), {}, class: 'form-control'  %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "上课周数", class: 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-arrow-right"></span></div>
          <%= f.select :course_week ,options_for_select(['1-20', '2-20','2-12','2-14','5-20','8-20']), {}, class: 'form-control'  %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "上课时间", class: 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-arrow-right"></span></div>
          <%= f.select :course_time,options_for_select(['周一1-2', '周一1-3','周一3-4','周一5-6','周一5-8','周一9-12', '周二1-3','周二3-4','周二5-6','周二5-8','周二9-12', '周三1-3','周三3-4','周三5-6','周三5-8','周三9-12', '周四1-3','周四3-4','周四5-6','周四5-8','周四9-12', '周五1-3','周五3-4','周五5-6','周五5-8','周五9-12']), {}, class: 'form-control'  %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "课程介绍", class: 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-arrow-right"></span></div>
          <%= f.text_field :course_introduction, class: 'form-control', placeholder: "输入课程介绍" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "图片", class: 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-arrow-right"></span></div>
          <%= f.file_field :avatar %>
          <%= f.hidden_field :avatar_cache %>
        </div>
      </div>
    </div>





    <%= f.submit '提交', class: "btn btn-success btn-block" %>
    <%= link_to '取消', courses_path, :class => "btn btn-default btn-block" %>

<% end %>


